<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojt.toyproject.member.MemberMapper">

    <insert id="insertMember"
            parameterType="MemberDto">
        INSERT INTO member
        VALUES (#{id}, #{name}, #{phone})
    </insert>

    <select id="getMemberList"
            parameterType="SearchDto"
            resultType="MemberDto">
        SELECT id, name, phone
        FROM member
        <where>
            <if test="searchType != null and keyword != null">
                ${searchType} LIKE CONCAT('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY CAST(substr(id,4) AS SIGNED)
        LIMIT
            <if test="pagination.limitStart != null and recordSize != null">
                ${pagination.limitStart}, ${recordSize}
            </if>


    </select>

    <select id="countTotalMembers"
            resultType="int">
        SELECT COUNT(*)
        FROM member
    </select>



    <update id="updateMember"
            parameterType="MemberDto">
        UPDATE member
        SET name = #{name},
            phone = #{phone}
        WHERE id = #{id}
    </update>

    <delete id="deleteMember"
            parameterType="String">
        DELETE FROM member
        WHERE id=#{id}
    </delete>

    <delete id="deleteMembers"
            parameterType="List">
        DELETE FROM member
        WHERE id IN
        <foreach collection="list" item="idList" open="(" close=")" separator=",">
            #{idList}
        </foreach>
    </delete>

</mapper>