<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojt.toyproject.rent.RentMapper">
<!--  rent 테이블 row 추가(insert)  -->
    <insert id="insertRent"
            parameterType="RentDto">
        INSERT INTO rent (book_seq, member_id, rent_date, due_date, is_returned)
        VALUES (#{bookSeq}, #{memberId}, curdate(), DATE_ADD(curdate(), INTERVAL 7 DAY), 'N')
    </insert>


<!--  rent 테이블 return_date 추가, is_returned Y로 변경 -->
    <update id="updateRent"
            parameterType="Long">
        UPDATE rent
        SET return_date = curdate(),
            is_returned = 'Y'
        WHERE seq = #{seq}
    </update>


    <!--  id로 rent 내역 조회(대출중)  -->
    <select id="getOnesRentList"
            parameterType="String"
            resultType="RentDto">
        SELECT seq, book_seq, member_id, rent_date, due_date, return_date, is_returned
        FROM rent
        WHERE member_id = #{id} AND is_returned = 'N'
    </select>

    <!--  id로 rent 내역 조회(반납완료)  -->
    <select id="getOnesReturnList"
            parameterType="String"
            resultType="RentDto">
        SELECT seq, book_seq, member_id, rent_date, due_date, return_date, is_returned
        FROM rent
        WHERE member_id = #{id} AND is_returned = 'Y'
    </select>
</mapper>